<header class="header">
  <div class="header-container">
    <div class="logo">
      <a routerLink="/">
        <h1>LAKAKA TÉA</h1>
      </a>
    </div>

    <nav class="nav-desktop">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Trang chủ</a></li>
        <li><a routerLink="/manager-drink" routerLinkActive="active">Đồ uống</a></li>
        <li><a routerLink="/ingredients" routerLinkActive="active">Nhập hàng</a></li>
        <li><a routerLink="/orders" routerLinkActive="active">Đơn hàng</a></li>
      </ul>
    </nav>
  </div>
</header> 